* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
header{
    font-size: 24px;
    margin-top: 50px;
}

body{
    margin: 20px 20px;
    font-family: 'Montserrat', sans-serif;
}

p{
    margin-top: -5px;
}

h2{
    font-weight: 500;
}

.restaurantContainer{
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    padding: 20px;
}

.eachrestaurant{
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
    padding: 5px 5px;
}

.eachrestaurant:hover{
    cursor: pointer;
    -webkit-transition: all .20s linear;
    -moz-transition: all .20s linear;
    transition: all .20s linear;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2);
}

.text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: fit-content;
}
.location{
    display: flex;
    align-items: center;
}

.filter-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: -20px;
    margin-left: 20px;
}

.sort-order{
    padding: 10px;
    border: 0.5px solid lightgray;
}
/* Media queries for tablet screens - min width 668px */
@media (min-width: 667px){
    .restaurantContainer{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        padding: 40px;
    }

    header{
        font-size: 55px;
    }
}

/* Desktop device */
@media (min-width: 1025px) {
    .restaurantContainer{
        display: grid;
        grid-template-columns: repeat(4, 4fr);
    }

    header{
        font-size: 45px;
        text-align: center;
    }

    .filter-menu{
        align-items: center;
        justify-content: center;
    }
}